:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  font-family: "League Spartan", sans-serif;
  color: var(--Dark-Grayish-Magenta);
  font-size: 15px;
}
.container {
  max-width: 1440px;
  margin: 1rem;
}
main {
  text-align: center;
  font-size: 1.1rem;
}
main h1 {
  max-width: 268px;
  color: var(--Very-Dark-Magenta);
  margin: 4rem auto 1.3rem;
}
main p {
  max-width: 330px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 auto 2rem;
}
.ratings {
  margin-bottom: 3rem;
}
.rating {
  background-color: var(--Light-Grayish-Magenta);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.rating .stars {
  width: 118px;
  height: 15px;
  background: url("../images/icon-star.svg") no-repeat,
    url("../images/icon-star.svg") no-repeat 25px,
    url("../images/icon-star.svg") no-repeat 50px,
    url("../images/icon-star.svg") no-repeat 75px,
    url("../images/icon-star.svg") no-repeat 100px;
  margin-bottom: 0.9rem;
}
.rating p {
  color: var(--Very-Dark-Magenta);
  font-size: 1rem;
  font-weight: 700;
}
.review {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  font-size: 1.1rem;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.review-top {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.review-top img {
  max-width: 45px;
  border-radius: 50%;
  margin-right: 1.3rem;
}
.review-top p {
  max-width: 130px;
  line-height: 1.3;
}
.review-top p .verified {
  color: var(--Soft-Pink);
}
.review > p {
  max-width: 284px;
  line-height: 1.3;
}
@media (min-width: 1440px) {
  body {
    min-height: 100vh;
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
    display: grid;
    place-content: center;
  }
  .container {
    display: grid;
    grid-template-areas:
      "main main ratings ratings"
      "reviews reviews reviews reviews";
  }
  main {
    grid-area: main;
    text-align: initial;
    font-size: 1.2rem;
  }
  main h1,
  main p {
    margin-left: 0;
  }
  main h1 {
    max-width: 386px;
    font-size: 3.3rem;
  }
  main p {
    max-width: 450px;
  }
  .ratings {
    grid-area: ratings;
    margin: 5rem 0 9rem 0;
  }
  .rating {
    max-width: 470px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
  }
  .rating:nth-child(2) {
    margin: 0 auto;
  }
  .rating:nth-child(3) {
    margin-left: auto;
  }
  .rating .stars {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .rating p {
    font-size: 1.2rem;
    padding-top: 6px;
  }
  .reviews {
    grid-area: reviews;
    display: flex;
    align-items: center;
  }
  .reviews .review {
    width: 350px;
    margin-right: 2rem;
  }
  .review:nth-child(1) {
    margin-top: -100px;
  }
  .review:nth-child(2) {
    margin-top: -50px;
  }
  .review:nth-child(3) {
    margin-right: 0;
  }
}
